## Configurando o MySQL com Python

Neste momento, vamos configurar a integração entre o MySQL e Python. Isso nos permitirá executar consultas, inserções e outras operações no banco de dados MySQL usando o Python como nossa linguagem de programação principal.

In [10]:
import mysql.connector

cnx = mysql.connector.connect(
    host="localhost",
    user="admin",
    password="admin"
)

print(cnx)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f1d70c41300>

Criaremos um cursor, que é um objeto utilizado para executar instruções SQL no contexto do Python. Essse cursor nos permitirá enviar consultas e comandos SQL para o banco de dados MySQL por meio da conexão estabelecida e obter os resultados de volta para serem processados em nosso código Python

In [11]:
cursor = cnx.cursor(buffered=True)

## Criando uma base de dados

O método `execute()` é usado para compilar uma instrução SQL

In [12]:
cursor.execute("CREATE DATABASE IF NOT EXISTS dbprodutos;")

In [13]:
cursor.execute("SHOW DATABASES;")


for db in cursor:
    print(db)

('dbprodutos',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

## Criando uma tabela

Antes de criar nossa tabela, vamos revisar as colunas necessárias que precisaremos incluir nela. Essa etapa é importante para garantir que nossa tabela seja projetada corretamente, atendendo aos requisitos de armazenamento e organização dos dados.

In [14]:
import pandas as pd

df_livros = pd.read_csv("/home/gck/pipeline-python-mongo-mysql/data/tabela_livros.csv")
df_livros.head()

,_id,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,Latitude,Longitude
0,684346752ccfd5e865876e90,Modelagem preditiva,livros,92.45,5.609697,2020-01-01,Thiago Silva,BA,1,cartao_credito,3,-13.29,-41.71
1,684346752ccfd5e865876eb6,Iniciando em programação,livros,61.73,0.000000,2021-02-01,Beatriz Moraes,SP,4,cartao_credito,1,-22.19,-48.79
2,684346752ccfd5e865876eca,Dashboards com Power BI,livros,40.98,0.000000,2023-02-01,Beatriz Moraes,RJ,5,cartao_credito,1,-22.25,-42.66
3,684346752ccfd5e865876f1a,Dashboards com Power BI,livros,46.58,0.000000,2020-06-01,Rafael Costa,PR,1,cartao_credito,4,-24.89,-51.55
4,684346752ccfd5e865876f4c,Modelagem preditiva,livros,105.99,3.228088,2022-07-01,Thiago Silva,SP,1,cartao_credito,4,-22.19,-48.79

In [16]:
df_livros.columns

Index(['_id', 'Produto', 'Categoria do Produto', 'Preço', 'Frete',
       'Data da Compra', 'Vendedor', 'Local da compra', 'Avaliação da compra',
       'Tipo de pagamento', 'Quantidade de parcelas', 'Latitude', 'Longitude'],
      dtype='object')

In [17]:
df_livros.shape

(742, 13)

In [18]:
cursor.execute("""
              CREATE TABLE IF NOT EXISTS dbprodutos.tb_livros(
               id VARCHAR(100),
               Produto VARCHAR(100),
               Categoria_Produto VARCHAR(100),
               Preco FLOAT(10,2),
               Frete FLOAT(10,2),
               Data_Compra DATE,
               Vendedor VARCHAR(100),
               Local_Compra VARCHAR(100),
               Avaliacao_Compra INT,
               Tipo_Pagamento VARCHAR(100),
               Qntd_Parcelas INT,
               Latitude FLOAT(10,2),
               Longitude FLOAT(10,2),
               
               PRIMARY KEY (id)
    ); 
""")

**Selecionando a base de dados para verificar a tabela criada**

In [19]:
cursor.execute("USE dbprodutos;")
cursor.execute("SHOW TABLES;")


for db in cursor:
    print(db)

('tb_livros',)

## Inserindo os dados do csv na tabela

Para inserir os dados na tabela do MySQL, é necessário percorrer cada linha do DataFrame e transformá-las em tuplas. Essa abordagem permite que mapeemos os dados do DataFrame para as colunas correspondentes da tabela do MySQL de forma eficiente e precisa.

## Visualizando os dados inseridos